@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}
body {
  background-color: #6a80b9;
}
.heading {
  font-size: 2.5vw;
  font-weight: 500;
  margin-top: 150px;
  color: white;
  text-align: center;
}

.converter {
  max-width: 400px;
  margin-inline: auto;
  margin-top: 50px;
  margin-bottom: 30px;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#grams {
  width: 100%;
  height: 50px;
  font-size: 1.4vw;
  outline: none;
  padding-inline: 5px;
}

button {
  height: 50px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1.5vw;
  cursor: pointer;
}
.result {
  max-width: 400px;
  min-height: 80px;
  margin-inline: auto;
  display: flex;
  border-radius: 5px;
  justify-content: space-evenly;
  background-color: white;
  align-items: center;
}
.result div {
  font-size: 1.5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.result div div:first-child {
  font-weight: 600;
}
.result div div:last-child {
  font-size: 1.2vw;
  font-weight: 520;
}
.foothead {
  text-align: center;
  margin-block: 40px 10px;
  font-size: 1.3vw;
  font-weight: 500;
}
.foothead a {
  color: white;
  text-decoration: none;
}

@media (max-width: 425px) {
  .heading {
    font-size: 7vw;
  }
  .converter {
    max-width: 95%;
    padding: 10px 15px;
    margin-top: 50px;
    margin-bottom: 30px;
  }
  #grams {
    font-size: 4vw;
  }
  button {
    font-size: 4vw;
  }
  .result {
    max-width: 95%;
    min-height: 70px;
  }
  .result div {
    font-size: 5vw;
  }
  .result div div:last-child {
    font-size: 3.5vw;
    font-weight: 550;
  }
  .foothead {
    font-size: 3.5vw;
  }
}
