@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}
:root {
  --text-color: black;
  --card-background: #eeeeee;
  --body-background: white;
  --button-background: #fbfbfb;
  --button-background-main: #e3e3e3bc;
}
body {
  background-color: var(--body-background);
}
.mode {
  width: 50px;
  height: 50px;
  border-radius: 50% 0px 0px 50%;
  position: fixed;
  top: 30px;
  right: 0;
  background-color: rgb(212, 134, 243);
  font-size: 1.5vw;
  display: flex;
  justify-content: center;
  padding-left: 10px;
  align-items: center;
  z-index: 1;
  cursor: pointer;
}
.cont1 {
  width: 100%;
  height: 50vh;
  padding-top: 30px;
  padding-left: 50px;
}
.cont1 h1 {
  font-weight: 500;
  font-size: 3vw;
  margin: 30px 0px;
  color: var(--text-color);
}
.cont1 p {
  max-width: 40%;
  font-weight: 500;
  letter-spacing: 1.5;
  margin-bottom: 30px;
  color: var(--text-color);
}
.btn {
  width: 100%;
}
.bt {
  padding: 10px 25px;
  margin-right: 10px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  color: var(--text-color);
  background-color: var(--button-background-main);
}
.cont2 {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 50px;
}
.js {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 10px;
}
.js h1 {
  font-weight: 600;
  font-size: 20vw;
  color: var(--text-color);
}
.scroll {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding-bottom: 80px;
}
.scroll h3 {
  font-weight: 500;
  font-size: 1.2vw;
  color: var(--text-color);
}
.scroll i {
  padding-inline: 10px;
  color: var(--text-color);
}
.cont3 {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-inline: 30px;
}
.heading {
  font-size: 3vw;
  font-weight: 500;
  margin-block: 50px;
  color: var(--text-color);
}
.items {
  position: relative;
  width: 100%;
  display: flex;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-template-rows: auto;
  gap: 20px;
  justify-content: center;
}
.item {
  position: relative;
  background-color: var(--card-background);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}
.itemimg {
  position: relative;
  width: 100%;
  height: 250px;
  transition: 0.5s linear transform;
}
.itemimg:hover {
  transform: scale(1.03);
}
.itemimg img {
  position: relative;
  width: 100%;
  border-radius: 10px;
  height: 100%;
}
.itemdetails {
  width: 100%;
  padding-left: 15px;
  padding-right: 5px;
  padding-block: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 18px;
}
.headingitem {
  font-size: 2vw;
  font-weight: 600;
  margin-top: 10px;
  color: var(--text-color);
}
.itemdetails p {
  font-size: 1vw;
  color: var(--text-color);
}
.btns1 {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
}
.bt1 {
  padding: 7px 15px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  color: var(--text-color);
  background-color: var(--button-background);
}
.footerhead {
  margin-block: 45px;
  font-size: 1.1vw;
  text-align: center;
  font-weight: 500;
  font-style: italic;
  color: var(--text-color);
}
span {
  background-color: var(--card-background);
  padding: 5px 10px;
  border-radius: 10px;
}
@media (max-width: 425px) {
  .cont1 {
    padding-top: 20px;
    padding-left: 20px;
  }
  .cont1 h1 {
    font-size: 8vw;
  }
  .cont1 p {
    font-size: 3vw;
    max-width: 80%;
  }
  .cont2 {
    padding-left: 0px;
    flex-direction: column-reverse;
  }
  .js {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 0px;
  }
  .js h1 {
    font-size: 60vw;
  }
  .scroll {
    width: 100%;
    height: 50%;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  .scroll h3 {
    font-size: 3vw;
  }
  .cont3 {
    padding-inline: 5px;
  }
  .items {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  .itemimg {
    height: 200px;
  }
  .heading {
    font-size: 9vw;
    margin-block: 30px;
  }

  .itemdetails {
    padding-left: 5px;
  }
  .headingitem {
    font-size: 7vw;
  }
  .itemdetails p {
    font-size: 3.5vw;
  }
  .mode {
    width: 30px;
    height: 30px;
    font-size: 3vw;
    top: 20px;
    padding-left: 10px;
  }
  .footerhead {
    font-size: 3.5vw;
  }
  span {
    border-radius: 5px;
  }
}

@media (min-width: 426px) and (max-width: 780px) {
  .mode {
    font-size: 2vw;
  }
  .cont1 p {
    max-width: 60%;
  }
  .scroll {
    padding-bottom: 40px;
  }
  .cont3 {
    padding-inline: 15px;
  }
  .items {
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  .headingitem {
    font-size: 2.8vw;
  }
  .itemdetails p {
    font-size: 1.5vw;
    color: var(--text-color);
  }
  .footerhead {
    font-size: 1.6vw;
  }
  span {
    border-radius: 5px;
  }
}
