@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}
body {
  width: 100%;
  padding: 2px;
}
.heading {
  font-size: 3vw;
  text-align: center;
  font-weight: 500;
  margin-top: 100px;
}
.box {
  width: 100%;
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.leftbox {
  width: 350px;
  height: 400px;
  background-color: rgb(132, 194, 243);
  padding-block: 10px;
  padding-inline: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  border-radius: 10px;
}
.rightbox {
  width: 350px;
  height: 400px;
  background-color: rgb(132, 194, 243);
  padding-block: 10px;
  padding-inline: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  gap: 10px;
}
.item {
  position: relative;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  border-radius: 10px;
}
.foothead {
  margin-top: 70px;
  font-weight: 500;
  font-size: 1.5vw;
  text-align: center;
}
.foothead a {
  text-decoration: none;
  color: black;
}
@media (max-width: 425px) {
  body{
    padding-inline: 10px;
  }
  .heading {
    font-size: 9vw;
    margin-top: 30px;
  }
  .box {
    margin-top: 30px;
    flex-direction: column;
  }
  .leftbox{
    width: 100%;
  }
  .rightbox{
    width: 100%;
  }
  .foothead a {
    margin-top: 25px;

    font-size: 5vw;
  }
  .foothead {
    margin-bottom: 10px;
  }
}
